
@{
    Layout = "";
   
}
<!doctype html>
<html lang="en">

<!-- Mirrored from kiswa.net/themes/star-travel/demo/demo-ltr/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Oct 2023 16:24:33 GMT -->
<head>
    <title>Travio | Coming Soon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="~/userassets/images/favicon.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i%7CMerriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="~/userassets/css/bootstrap-5.3.2.min.css">



    <!-- Sidebar Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/userassets/css/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="~/userassets/css/font-awesome.min.css">

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="~/userassets/css/style.css">
    <link rel="stylesheet" id="cpswitch" href="~/userassets/css/orange.css">
    <link rel="stylesheet" href="~/userassets/css/responsive.css">
    <link rel="stylesheet" href="~/userassets/css/custom.css">

    <!-- Owl Carousel Stylesheet -->
    <link rel="stylesheet" href="~/userassets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/userassets/css/owl.theme.css">

    <!-- Flex Slider Stylesheet -->
    <link rel="stylesheet" href="~/userassets/css/flexslider.css" type="text/css" />

    <!--Date-Picker Stylesheet-->
    <link rel="stylesheet" href="~/userassets/css/datepicker.css">

    <!-- Magnific Gallery -->
    <link rel="stylesheet" href="~/userassets/css/magnific-popup.css">
</head>


<body id="main-homepage">

    <div class="wrapper">
        <!--====== LOADER =====-->
        <div class="loader"></div>

<!--======================= COMING-SOON-PAGE-2 ======================-->
<section id="coming-soon-page-2" class="full-page-body full-page-back">
    <div class="full-page-wrapper">
        <div class="full-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center" id="coming-soon-page-2-text">
                        <div class="full-page-title">
                            <h3 class="company-name"><span><i class="fa fa-plane"></i>Travio</span>Travels</h3>
                        </div><!-- end full-page-title -->
                        <h1>@TempData["page_title"]</h1>
                        <h2>We'll be live soon !</h2>

                        <div class="coming-soon-2-timer">
                            <ul class="list-inline list-unstyled">
                                <li class="list-inline-item"><span class="digit">24</span><span>days</span></li>
                                <li class="list-inline-item"><span class="digit">23</span><span>hours</span></li>
                                <li class="list-inline-item"><span class="digit">59</span><span>minutes</span></li>
                                <li class="list-inline-item"><span class="digit">45</span><span>seconds</span></li>
                            </ul>
                        </div><!-- end coming-soon-2-timer -->

                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="email" class="form-control input-lg" placeholder="your email and get notified" required />
                                    <span class="input-group-btn"><button class="btn">Subscribe</button></span>
                                </div>
                            </div>
                        </form>
                        <a class="btn btn-warning text-white p-3" href="@Url.Action("Index" , "Home")">Back To Home Page</a>
                        <p class="full-page-copyright">© 2023 Travio<b class="text-warning">Travel</b>. All rights reserved.</p>
                    </div><!-- end columns -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end full-page-content -->
    </div><!-- end full-page-wrapper -->
</section><!-- end coming-soon-page-2 -->
</body>

<!-- Mirrored from kiswa.net/themes/star-travel/demo/demo-ltr/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Oct 2023 16:25:33 GMT -->
</html>
<script src="~/userassets/js/jquery-3.3.1.min.js"></script>

<script src="~/userassets/js/popper.min.js"></script>
<script src="~/userassets/js/jquery.magnific-popup.min.js"></script>
<script src="~/userassets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/userassets/js/bootstrap-5.3.2.min.js"></script>
<script src="~/userassets/js/jquery.flexslider.js"></script>
<script src="~/userassets/js/bootstrap-datepicker.js"></script>
<script src="~/userassets/js/owl.carousel.min.js"></script>
<script src="~/userassets/js/custom-navigation.js"></script>
<script src="~/userassets/js/custom-flex.js"></script>
<script src="~/userassets/js/custom-owl.js"></script>
<script src="~/userassets/js/custom-date-picker.js"></script>
<script src="~/userassets/js/custom-video.js"></script>
<script src="~/userassets/js/popup-ad.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>