
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["title"] = "Contact Us";
}
<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
    <div id="contact-us-2">

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3619.90248675073!2d67.02166071145207!3d24.86717984489567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33e6b1566c46f%3A0x65318f4eb62c7aa8!2sAptech%20Computer%20Education%20Garden%20Center!5e0!3m2!1sen!2s!4v1699913616683!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" allowFullScreen></iframe>
        </div><!-- end map -->

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="contact-block-2">
                                <span class="border-shape-top"></span>
                                <span><i class="fa fa-map-marker"></i></span>
                                <h4>Find us at</h4>
                                <p>Karachi Sindh , Pakistan.</p>
                                <span class="border-shape-bot"></span>
                            </div><!-- end contact-block-2 -->
                        </div><!-- end columns -->

                        <div class="col-12 col-md-4">
                            <div class="contact-block-2">
                                <span class="border-shape-top"></span>
                                <span><i class="fa fa-envelope"></i></span>
                                <h4>Email us at</h4>
                                <p>hassandurra81@gmail.com</p>
                                <span class="border-shape-bot"></span>
                            </div><!-- end contact-block-2 -->
                        </div><!-- end columns -->

                        <div class="col-12 col-md-4">
                            <div class="contact-block-2">
                                <span class="border-shape-top"></span>
                                <span><i class="fa fa-phone"></i></span>
                                <h4>Call us at</h4>
                                <p>+92 3030239865</p>
                                <span class="border-shape-bot"></span>
                            </div><!-- end contact-block-2 -->
                        </div><!-- end columns -->
                    </div><!-- end row -->

                    <div id="contact-form-2" class="innerpage-section-padding">
                        <div class="row">
                            <div class="col-12 col-md-12 col-xl-10 mx-auto">
                                <div class="page-heading">
                                    <h2>Contact Us</h2>
                                    <hr class="heading-line" />
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-6 contact-form-2-text">
                                        <p><strong>Important:</strong>  When it comes to your airline reservations, Traviotravel is your go-to destination for seamless and enjoyable travel experiences. We understand the significance of quick and reliable assistance, and our dedicated customer support team is here to help you every step of the way.</p>
                                        <ul class="social-links list-inline list-unstyled">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/hhugf.lunf"><span><i class="fa fa-facebook"></i></span></a></li>
                                            
                                            <li class="list-inline-item"><a href="mailto:hassandurra81@gmail.com"><span><i class="fa fa-google-plus"></i></span></a></li>
                                            <li class="list-inline-item"><a href="https://github.com/HassanDurra"><span><i class="fa fa-github"></i></span></a></li>
                                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/hassan-durra-68b123220/"><span><i class="fa fa-linkedin"></i></span></a></li>
                                            <li class="list-inline-item"><a href="https://www.instagram.com/hassan_.983/?hl=en"><span><i class="fa fa-instagram"></i></span></a></li>
                                        </ul>

                                    </div>

                                    <div class="col-12 col-md-6">

                                        <form id="contactForm" >

                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Name" name="name"  />
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Email" name="email"  />
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Subject" name="subject"  />
                                            </div>

                                            <div class="form-group">
                                                <textarea class="form-control" rows="4" placeholder="Your Message" name="message"></textarea>
                                            </div>
                                            <div class="col-md-12 text-center" id="result_msg"></div>
                                            <div class="text-center">
                                                <button name="submit" id="submit" class="btn btn-orange">Send</button>
                                            </div>
                                        </form>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end contact-us -->
</section><!-- end innerpage-wrapper -->
<script src="~/userassets/js/jquery-3.3.1.min.js"></script>
<script src="~/userassets/js/custom/contact.js"></script>