@model TravioHotel.Models.UserModel
@{
    Layout = "~/Views/Shared/_Userlayout.cshtml";
    ViewData["Title"] = "User Registeration";
}
<!--Content Start Here -->
<!--================ PAGE-COVER =================-->
<section class="page-cover" id="cover-registration">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">@ViewData["Title"]</h1>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-area="User" asp-controller="Home">Home</a></li>
                    <li> / @ViewData["Title"]</li>
                </ul>
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end page-cover -->
<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
    <div id="registration" class="innerpage-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="flex-content">
                        <div class="custom-form custom-form-fields">
                            <h3>Registration</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <form asp-action="Store" asp-controller="Auth" method="Post" enctype="multipart/form-data">

                                <div class="form-group">
                                    <input type="file" asp-for="Image" name="Image" class="form-control" placeholder="Username" required />
                                    <span><i class="fa fa-user"></i></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" asp-for="Name" name="Name" class="form-control" placeholder="Enter Your Name" required />
                                    <span><i class="fa fa-user"></i></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" asp-for="User_name" name="User_name" class="form-control" placeholder="Enter Your Name" required />
                                    <span><i class="fa fa-user"></i></span>
                                </div>

                                <div class="form-group">
                                    <input type="email" asp-for="Email" name="Email" class="form-control" placeholder="Email" required />
                                    <span><i class="fa fa-envelope"></i></span>
                                </div>

                                <div class="form-group">
                                    <input type="password" asp-for="Password" name="Password" class="form-control" placeholder="Password" required />
                                    <span><i class="fa fa-lock"></i></span>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password" required />
                                    <span><i class="fa fa-lock"></i></span>
                                </div>

                                <button type="submit" class="btn btn-orange btn-block">Register</button>
                            </form>

                            <div class="other-links">
                                <p class="link-line">Already Have An Account ? <a href="#">Login Here</a></p>
                            </div><!-- end other-links -->
                        </div><!-- end custom-form -->

                        <div class="flex-content-img custom-form-img">
                            <img src="~/userassets/images/registration.jpg" class="img-fluid" alt="registration-img" />
                        </div><!-- end custom-form-img -->
                    </div><!-- end form-content -->

                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end registration -->
</section><!-- end innerpage-wrapper -->
<!-- Content Ends Here-->
<script src="~/userassets/js/jquery-3.3.1.min.js"></script>
