
@{
    ViewData["title"] = "Reset Password";
    Layout = "~/Views/Shared/_Userlayout.cshtml";
}
<!--============= PAGE-COVER =============-->
<section class="page-cover" id="cover-login">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Reset Password</h1>
                <ul class="breadcrumb">
                    <li><a asp-controller="Home" asp-area="User" asp-action="Index">Home</a></li>
                    <li>/ Reset Password</li>
                </ul>
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end page-cover -->
<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
    <div id="login" class="innerpage-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="flex-content">
                        <div class="custom-form custom-form-fields">
                            <h3>Reset Password</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <form id="resetForm">
                                
                                <!-- Reset Form  -->
                                <div id="formContainer">
                                    <div class="form-group" id="EmailContainer">
                                        <input type="text" name="Email" class="form-control" placeholder="Enter Your email address..." />
                                        <span><i class="fa fa-user"></i></span>
                                    </div>
                                    <div class="form-group" id="verificationContainer" style="display: none;">
                                        <input type="text" name="Verification" class="form-control" placeholder="Enter Verification Code" />
                                        <span><i class="fa fa-check"></i></span>
                                    </div>
                                    <!-- Password Reset Button -->
                                    <div id="passwordContainer" style="display: none;">
                                        <div class="form-group" id="EmailContainer">
                                            <input type="text" name="Password" class="form-control" placeholder="Enter new Password" />
                                            <span><i class="fa fa-lock"></i></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="password" name="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                            <span><i class="fa fa-lock"></i></span>
                                        </div>

                                    </div>
                                    <!-- Password Reset  -->
                                    <!-- <div class="checkbox">
                                    </div> -->
                                    <button type="submit" id="verificationButton" class="btn btn-orange btn-block mt-0">Get Code</button>

                                </div>
                                <div id="successContainer" style="display: none;">
                                    <h4 style="color: green; text-align:center;">Password Success fully Changed</h4>
                                    <p style="text-align: center; padding :10px;">You can now login with your new Password!</p>
                                </div>
                                <!-- Reset Form -->
                            </form>

                            <div class="other-links">
                                <p class="link-line">back to ? <a href="#">Login</a></p>
                            </div><!-- end other-links -->
                        </div><!-- end custom-form -->

                        <div class="flex-content-img custom-form-img">
                            <img src="images/login.jpg" class="img-fluid" alt="registration-img" />
                        </div><!-- end custom-form-img -->
                    </div><!-- end form-content -->

                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end login -->
</section><!-- end innerpage-wrapper -->
<script src="~/userassets/js/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="~/userassets/js/custom/Authentication.js"></script>
